.dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 84px;
  background-color: var(--white);
}

.dialogClose {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  background-image: url('../../../assets/icons/icon-X.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
