.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: hsla(0, 0%, 0%, 0.5);
}

.modalAlingYX {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
